.button--download {
  max-width: 280px;
  padding: 20px 0;
  border: 3px solid #ffffff;
  line-height: 1;
  color: #ffffff;
}

.button--download:hover {
  color: #d22856;
  background-color: #ffffff;
}

.button--download:active {
  color: rgba($color: #d22856, $alpha: 0.3);
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto 20px;
  border-radius: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
